<div class="lessons-list-container v-h-center-block-parent">

    <h2 *ngFor="let quiz of quizzes">{{quiz.title}}</h2>

    <div class="nav-bar">
        <button (click)="previous()">Previous Page</button>
        <button (click)="next()">Next Page</button>
        <button (click)="checkAnswer()">Check Answer</button>
    </div>
    <div>Question:{{currentPosition}}</div>
    <div>Score: {{scoreCount}}</div>
<pre>
{{ this.selectedAnswer | json }}
</pre>
    <ul>
        <li *ngFor="let question of (questionsOne$ | async )">
            <md-card>
                <md-card-title>{{question.number}}-{{ question.title}}</md-card-title>
                <md-card-content>
                    <table>
                        <thead>
                            <td>Answer</td>
                            <td></td>
                        </thead>
                        <tbody>
                            <tr *ngFor="let answer of question.answers; let idx = index">
                                <td><input  [disabled]="selectedAnswer.checked" type="radio" name="answergroup" (change)="onSelectionChange(answer)" [checked]="(idx === 0)"
                                        [value]="answer.title"></td>
                                <td>{{ answer.title }}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-card-content>
            </md-card>

        </li>
    </ul>
    <!--
    <div class="tools-bar">
        <button routerLink="new" [queryParams]="{quizId: (quiz$ | async)?.$key }">
            New Question
        </button>
    </div>

</div>
-->